#myCarousel {
    margin-bottom: 4rem;
}

.col-lg-4 {
    text-align: center;
}

footer {
    margin-bottom: 4rem;
}

.currmargin {
    margin-bottom: 4rem;
}

#engback {
    background-image: url(pictures/engineering-und.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.spirulina {
    transition: filter 1s;
}

.spirulina:hover {
    filter: hue-rotate(120deg);
}

.visibexc {
    filter: opacity(0%);
    transition: filter 1s;
}

.tshadow {
    text-shadow: 1px 1px 1px black;
}

.asocial {
    text-decoration: none;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0px 5px 0px 5px;
}

.carousel-img {
    margin: auto;
    filter: brightness(70%);
}

#jumbosport {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: black;
}